<%= render "layouts/header" %>
<% flash.each do |message_type, message| %>
    	<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<div class = "main-page">
	<%= render :partial => 'layouts/edit', :locals => {:user => @user } %>
</div>