.gallery .gl-item .gl-preview .cm-item figure{
    float:left !important;
    width: 50px !important;
    padding-top: 5px !important;
    img {
        width:50px !important;
    }
}

.gallery .gl-item .gl-preview .cm-body{ 
    loat: left;
    width: 100%;
    padding-left: 50px;
    margin-left: 5px;
    }
.gallery .gl-item .gl-preview .lg-preview-descr ul {
    padding-left : 0;
   
}
.gallery .gl-preview {
	border: 1px solid #fff;;
	background-color:#fff;
	position: fixed;
	width: 90vw;
	z-index: 100;
	height:500px;
	top: 50%;
  	left: 50%;
  /* bring your own prefixes */
  	transform: translate(-50%, -50%);
  	pointer-events: auto;
}
.gallery .gl-preview-container .main-pic img {
	width:100%;
	height:500px;
}

.gallery .closeImg-btn {
	position: fixed;
  	top: 0;
  	bottom:0;
  	right:0;
  	left:0;
	display:none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.75);
	z-index: 9;
}

.gallery .nextImg-btn,
.gallery .prevImg-btn {
	display: none;
	position: fixed;
	top: 45%;
	width: 4vw;
	z-index: 10;
	&:hover {
		background-color: rgba(#ccc, .3);
		cursor: pointer;
	}
	img {
		width: 100%;
	}
}

.gallery .nextImg-btn {
	right: 0%;
}
.gallery .prevImg-btn {
	left: 0%;
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}