<div id="footer" class="widget-footer">
   <footer>
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-md-6">
               <div class="widget">
                  <h3 class="wg-title">About Us</h3>
                  <p>We are team of creative photographers. We passionate with photography and other creative things.</p>
                  <p class="phone-block">
                     +1 (800) 515 622 3122
                  </p>
                  <p class="email-block">
                     <a href="mailto:mental@gmail.com">mental@gmail.com</a>
                  </p>
               </div> <!-- widget -->
            </div>
            <div class="col-lg-3 col-md-6">
               <div class="widget">
                  <h3 class="wg-title">Contact Us</h3>
                  <form role="form" class="contact-form validation-engine ajax-send">
                     <div class="form-group">
                        <label class="sr-only" for="input_name_widget">Name *</label>
                        <input type="text" name="name" class="form-control validate[required]" id="input_name_widget" placeholder="Name *">
                     </div>
                     <div class="form-group">
                        <label class="sr-only" for="input_email_widget">Email *</label>
                        <input type="email" name="email" class="form-control validate[required,custom[email]]" id="input_email_widget" placeholder="Email *">
                     </div>
                     <div class="form-group">
                        <label class="sr-only" for="input_message_widget">Message</label>
                        <textarea name="message" class="form-control validate[required]" rows="4" id="input_message_widget" placeholder="Message"></textarea>
                     </div>
                     <button type="submit" class="btn btn-default btn-wide">Send</button>
                     <span class="loading-spinner" style="display:none;"></span>
                  </form>
               </div>
            </div>
            <div class="col-lg-3 col-md-6">
               <div class="widget">
                  <h3 class="wg-title">Recent posts</h3>
                  <ul class="wg-popular-posts">
                     <li>
                        <figure><a href="#"><img src="http://placehold.it/70x70" alt=""></a></figure>
                        <div class="body">
                           <p class="wg-pp-title"><a href="#">We are team of creative photographers.</a></p>
                           <p class="wg-info"><time datetime="2014-01-16">16 Jan 2014</time> / <a href="#">15 Comments</a></p>
                        </div>
                     </li>
                     <li>
                        <figure><a href="#"><img src="http://placehold.it/70x70" alt=""></a></figure>
                        <div class="body">
                           <p class="wg-pp-title"><a href="#">This temlate was designed for you.</a></p>
                           <p class="wg-info"><time datetime="2014-01-16">16 Jan 2014</time> / <a href="#">15 Comments</a></p>
                        </div>
                     </li>
                  </ul>
               </div> <!-- widget -->
            </div>
            <div class="col-lg-3 col-md-6">
               <div class="widget">
                  <h3 class="wg-title">FLickr stream</h3>
                  <div class="row wg-flicker">
                     <div class="col-xs-4"><a class="img-zoom-hover" href="#"><img src="http://placehold.it/86x86" alt="flickr"></a></div>
                     <div class="col-xs-4"><a class="img-zoom-hover" href="#"><img src="http://placehold.it/86x86" alt="flickr"></a></div>
                     <div class="col-xs-4"><a class="img-zoom-hover" href="#"><img src="http://placehold.it/86x86" alt="flickr"></a></div>
                     <div class="col-xs-4"><a class="img-zoom-hover" href="#"><img src="http://placehold.it/86x86" alt="flickr"></a></div>
                     <div class="col-xs-4"><a class="img-zoom-hover" href="#"><img src="http://placehold.it/86x86" alt="flickr"></a></div>
                     <div class="col-xs-4"><a class="img-zoom-hover" href="#"><img src="http://placehold.it/86x86" alt="flickr"></a></div>
                  </div>
               </div> <!-- widget -->
            </div>
         </div>
      </div>
      <div class="ft-copyright">
         <div class="container">
            <div class="mb-social">
               <a href=""><i class="fa fa-twitter"></i></a>
               <a href=""><i class="fa fa-facebook"></i></a>
               <a href=""><i class="fa fa-google-plus"></i></a>
               <a href=""><i class="fa fa-instagram"></i></a>
               <a href=""><i class="fa fa-pinterest"></i></a>
               <a href=""><i class="fa fa-tumblr"></i></a>
            </div>
            <p>© 2014 All rights reserved. Developed by <span>Azelab</span></p>
         </div>
      </div>
   </footer>
</div>
