   <footer>
      <div class="ft-copyright">
         <div class="container">

               <p>© 2015 Pakuta Photos Sharing Network Developed by <span>Dedorewan</span></p>
               <div class="mb-social">   
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-instagram"></i></a>
                  <a href=""><i class="fa fa-tumblr"></i></a>
               </div>
            </div>
      </div>
   </footer>

