<div id="header" class="top-menu tm-fixonscroll">
   <header class="shadow-down">
      <div class="container">
         <div class="row">
            <div class="col-md-2 tm-logo">
               <%= image_tag("logo_white.png", :alt => "Pakuta") %>
               <p class="tm-site-descr">Set you pictures on fire</p>
            </div>
            <div class="col-md-2 tm-menu">
               <div class="comment-form">
                  <form role="form" class="contact-form">
                     <div class="form-group">
                     <input class="form-control" type="text" id="input_message" placeholder="Search">
                     </div>
                  </form>
               </div>
            </div>
            <div class="col-md-8 tm-menu">
               <nav>
                  <ul class="top-main-menu mtmenu">
                     <li class="menu-item-has-children">
                        <a href="home-expanding-preview.html">Home</a>
                        <ul class="dropdown">
                           <li><a href="home.html">Home v1 - Sidebar Menu / Gallery</a></li>
                           <li><a href="top-menu-onepage.html">Home v2 - OnePage</a></li>
                           <li><a href="top-menu-home-1.html">Home v3 - Top Menu / Video Background</a></li>
                           <li><a href="top-menu-home-2.html">Home v4 - Top Menu / Layer Slider</a></li>
                        </ul>
                     </li>
                     <li><a href="top-menu-about-us.html">Profile</a></li>
                  </ul> <!-- top-main-menu -->
               </nav>
            </div>
         </div> <!-- row -->
      </div> <!-- container -->
   </header>
</div> <!-- header -->
