<div class="sections-group text-dark">
   <div class="st-video-background">
         </div>
         <div class="section">
            <section>
               <div class="gallery-info container container-800">
                  <div class="row services-block">
                     <div class="col-md-6" data-animate="fadeInDown">
                        <div class="services-item">
                           <%= image_tag(user.avatar_url,:alt => "#{user.name}",:class =>"img-thumbnail")%>
                        </div>
                     </div>
                     <div class="col-md-6" data-animate="fadeInDown">
                        <div class="services-item">
                           <h1 class="big-name"><%=user.name%></h1>
                           <h4><%= user.real_name%></h4>
                           <div class="details">
                              <span>100 Posts |</span>
                              <span>22 Follower |</span>
                              <span>32 Following</span>
                           </div>

                           <%=link_to "Edit your profile", controller:'users', action: 'edit' , name: user.name %></li>
                        </div>
                     </div>
                  </div>
               </div> <!-- container -->
            </section>
         </div> <!-- section -->
</div><!-- sections-group -->