<div class="sections-group text-dark">
   <div class="st-video-background">
         </div>
         <div class="section">
            <section>
               <div class="container container-800">
                  <div class="row services-block">
                     <div class="col-md-6" data-animate="fadeInDown">
                        <div class="services-item">
                           <h5>Profile Picture</h5>
                           <p>We are team of creative photographers</p>
                        </div>
                     </div>
                     <div class="col-md-6" data-animate="fadeInDown">
                        <div class="services-item">
                           <h5>Name</h5>
                           <p>We are team of creative photographers. We passionate with photography and other creative things.</p>
                        </div>
                     </div>
                  </div>
               </div> <!-- container -->
            </section>
         </div> <!-- section -->
</div><!-- sections-group -->