<div class="sections-group text-dark">
   <div class="st-video-background">
         </div>
         <div class="section">
            <section>
               <div class="container container-800">
                  <div class="row services-block">
                     <div class="col-md-6" data-animate="fadeInDown">
                        <div class="services-item">
                           <%= image_tag user.avatar_url, alt: "#{user.name}" %>
                        </div>
                     </div>
                     <div class="col-md-6" data-animate="fadeInDown">
                        <div class="services-item">
                           <h5><%=user.name%></h5>
                           <p><%= user.real_name%></p>
                        </div>
                     </div>
                  </div>
               </div> <!-- container -->
            </section>
         </div> <!-- section -->
</div><!-- sections-group -->