  <div class="section single-work st-invert">
   <section>
   <div class="container container-800">
         <article>
             <div class="owner">
                     <figure>
                        <img src="http://placehold.it/70x70" alt="">
                     </figure>
                     <p class="name">Dedorewan</p>
                     <p class="time">2 hours ago</p>                              
             </div>
            <figure class="image-fit">
               <img src="http://placehold.it/1024x684" alt="image">
            </figure>
            <div class="row sw-description">
               <div class="col-md-12">
                  <h4>BEAUTIFUL AND DANGEROUS SEA. TITLE OF THE PHOTO</h4>
                  <p>Remember, the conscious mind is the gardener. It is our responsibility to be aware of and choose wisely what reaches the inner garden.</p>

                  <div class="mb-social">
                     <h6>SHARE</h6> 
                     <a href="#"><i class="fa fa-twitter"></i></a>
                     <a href="#"><i class="fa fa-facebook"></i></a>
                     <a href="#"><i class="fa fa-google-plus"></i></a>
                     <a href="#"><i class="fa fa-instagram"></i></a>
                     <a href="#"><i class="fa fa-pinterest"></i></a>
                     <a href="#"><i class="fa fa-tumblr"></i></a>
                  </div>

               </div>
            </div>
         </article>
      </div>
   </section>
</div> <!-- section -->

<div class="section st-invert st-black">
   <section>
      <div class="container container-800">
         <div class="comments cm-invert">
            <h3 class="cm-block-title">5 Comments</h3>
            <ul>
               <li>
                  <div class="cm-item">
                     <figure>
                        <img src="http://placehold.it/70x70" alt="">
                     </figure>
                     <div class="cm-body">
                        <div class="cm-title-line">
                           <span class="cm-title">John doe</span>
                           <time datetime="2014-01-27">27 January 2014 at 16:02</time>
                           <a href="#">Reply</a>
                        </div>
                        <div class="cm-content">
                           <p>Your subconscious mind is like fertile soil which accepts any seed you plant within it.</p>
                        </div>
                     </div>
                  </div>
               </li>
               <li>
                  <div class="cm-item">
                     <figure>
                        <img src="http://placehold.it/70x70" alt="">
                     </figure>
                     <div class="cm-body">
                        <div class="cm-title-line">
                           <span class="cm-title">Michael doe</span>
                           <time datetime="2014-01-27">27 January 2014 at 16:02</time>
                           <a href="#">Reply</a>
                        </div>
                        <div class="cm-content">
                           <p>Your subconscious mind is like fertile soil which accepts any seed you plant within it.</p>
                        </div>
                     </div>
                  </div>
                  <ul>
                     <li>
                        <div class="cm-item">
                           <figure>
                              <img src="http://placehold.it/70x70" alt="">
                           </figure>
                           <div class="cm-body">
                              <div class="cm-title-line">
                                 <span class="cm-title">Jeniffer doe</span>
                                 <time datetime="2014-01-27">27 January 2014 at 16:02</time>
                                 <a href="#">Reply</a>
                              </div>
                              <div class="cm-content">
                                 <p>Your subconscious mind is like fertile soil which accepts any seed you plant within it.</p>
                              </div>
                           </div>
                        </div>
                     </li>
                  </ul>
               </li>
            </ul>
         </div>
         <div class="comment-form">
            <form role="form" class="contact-form">
               <div class="form-group">
                  <input class="form-control" type="text" id="input_message" placeholder="Comment...">
               </div>
            </form>
         </div>
      </div> <!-- container -->
   </section>
</div> <!-- section -->
